<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="addCategoryHeading">
  <img
    alt="logo"
    class="img-responsive categoryImag"
    src="assets/img/categoryIcon.png"
    (click)="addNewCategory()"
  />
  <!-- [style.color]="h1Style ? 'gray' : 'black'" -->
  <h3 (click)="addNewCategory()" class="addNewCategoryText">Add Category</h3>
</div>
<!-- <button (dblclick)="firstClick()">Test click event :- clicl me</button> -->
<!-- //fas fa-clone fas fa-chalkboard-teacher fas fa-genderless fas fa-gift fas fa-portrait-->
<p>List of categorys</p>
<div *ngIf="deleteRecord">
  <p class="deleteRecordText">
    {{ deleteRecord.message }}
  </p>
</div>

<ul *ngIf="users">
  <li *ngFor="let user of users.data" class="fa fa-gift">
    &nbsp;&nbsp;{{ user.name }}
    <span class="edit fa fa-edit" (click)="addCategory(user._Id)"></span>
    <span class="close fa fa-trash" (click)="clickOnList(user._Id)"></span>
  </li>
</ul>
